.layout-grid {
  	display: flex;
  	flex-direction: column;
  	max-width: 1000px;
  	margin: 0 auto;
  	padding: 10px;
}

@media (min-width: 600px) {
	.layout-grid {
    	flex-direction: row;
      	padding: 20px;
    }
}